/* --- Univerzalni CSS --- */
body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

/* Navigacija */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
}

nav li {
    display: inline-block;
    background-color: gray;
    padding: 15px 25px;
    border: 2px solid black;
    margin: 0 10px;
    border-radius: 5px;
}

nav li a {
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

nav li a:hover {
    text-decoration: underline;
}

/* Naslovi i tekst */
h1, h2, h3 {
    margin: 20px 0 10px 0;
}

p {
    max-width: 800px;
    margin: 10px auto 20px auto;
    line-height: 1.6;
}

/* Slike i video */
img, video, iframe {
    max-width: 90%;
    height: auto;
    margin: 20px auto;
    display: block;
    border-radius: 5px;
}

/* Linkovi */
a {
    color: #333;
}

a:hover {
    text-decoration: underline;
}
